*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page {
    background-color: rgba(220, 220, 220, 0.3);

}
.app-wrapper {
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.3);
}
.navbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:4.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar-logo {
    color:#34C759;
    font-size: 30px;
}
.mobile-footer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.active {
    background-color: #34C759;
    border-radius: 10px;
    width:max-content;
    height: 1.5rem;
    color: white;
}
#navbarSupportedContent {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.stat-card {
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.stat-icon {
  width: 40px;
  height: 40px;
  /* background: #28a745; green */
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.progress {
  background-color: #e9ecef;
}
