*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-page {
    background-color: rgba(220, 220, 220, 0.3);

}
.app-wrapper {
    border-radius: 10px;
    background-color: #FFFFFF;
}